{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% set children = [] %}
{{ Twig.set("children", Twig.setTwig.call("services.category.getChildren(66)"))}}
<div>
  Kategorien
</div>
{% for child in children %}
  {{child}}
{% endfor %}
